<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sleep</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #2f3136;
            color: #dddddd;
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="sleep">
        Sleep command was successful? {{ sleep }}
    </div>
    {% if error %}
    <div class="error">
        Error: {{ error }}
    </div>
    {% endif %}
</body>
